<!--?xml version="1.0" encoding="UTF-8"?-->  
  
<hibernate-configuration>  
    <session-factory> 
    	<!--Setting of properties--> 
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>  
        <property name="hibernate.connection.username">admin</property>  
        <property name="hibernate.connection.password">fzpp8wke</property>  
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_spr_hib_demo</property>  
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>  
        <property name="show_sql">true</property>   
        <property name="connection.pool_size">1</property>  
		<!--Mapping of entities-->
        <mapping class="com.model.users"></mapping>  
    </session-factory>  
</hibernate-configuration>  